<footer class="page-footer blue darken-4">
    <div class="row">
        <div class="col l2 s12"> 
            <a href="#" class="brand-logo center hide-on-med-and-down"><img src="./img/logo.png" height="100" width="100" /></a>
        </div>
        <div class="col l2 s12">
          <h5 class="cyan-text lighten-1">Contact us</h5>
          <p class="cyan-text lighten-1">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l2 offset-l2 s12">
            <h5 class="cyan-text lighten-1">Links</h5>
            <a class="cyan-text lighten-1" href="https://becode.org/">Becode.org</a>
        </div>
        <div class="col l2 offset-l2 s12">
          <h5 class="cyan-text lighten-1">Follow us</h5>
                <a class="cyan-text lighten-1" href="https://www.facebook.com/becode.org"><img src="./img/facebook.png" height="30" width="30" alt="facebook"></a>
                <a class="cyan-text lighten-1" href="https://www.instagram.com/becodeorg/"><img src="./img/instagram.png" height="30" width="30" alt="instagram"></a>
                <a class="cyan-text lighten-1" href="https://twitter.com/becodeorg"><img src="./img/twitter.png" height="30" width="30" alt="twitter"></a>
        </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
         © MIT
      </div>
    </div>
  </footer>