<header>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <!-- ! Image not showing -->
        <a href="#" class="brand-logo center"><img src="/logo.png" height="60" width="60" /></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#" class="cyan-text text-accent-2">About us</a></li>
            <li><a href="#" class="cyan-text text-accent-2">Community</a></li>
            <li><a href="#" class="cyan-text text-accent-2">Compagnies</a></li>
            <li><a href="#" class="cyan-text text-accent-2">Events</a></li>
            <li><a href="#" class="cyan-text text-accent-2">Forum</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="cyan-text text-accent-2">Register</a></li>
            <li><a href="#" class="cyan-text text-accent-2">Login</a></li>
        </ul>
        </div>
        <!--
        <div class="nav-wrapper blue darken-4">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div> 
        -->
    </nav>
</header>