<header>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <!-- ! Image not showing -->
        <a href="#" class="brand-logo center hide-on-med-and-down"><img src="./img/logo.png" height="60" width="60" /></a>
        <ul id="nav-mobile" class="left hide-on-down">
            <li><a href="#" class="cyan-text lighten-1">About us</a></li>
            <li><a href="#" class="cyan-text lighten-1">Community</a></li>
            <li><a href="#" class="cyan-text lighten-1">Compagnies</a></li>
            <li><a href="#" class="cyan-text lighten-1">Events</a></li>
            <li><a href="#" class="cyan-text lighten-1">Forum</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-down">
            <li><a href="#" class="cyan-text lighten-1">Register</a></li>
            <li><a href="#" class="cyan-text lighten-1">Login</a></li>
        </ul>
        </div>
        <!--
        <div class="nav-wrapper blue darken-4">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div> 
        -->
    </nav>
</header>